@media screen and (min-width: 500px) {
    /* Changes for large screens */
    header {
        background-color: #000;
        color: #fff;
        padding: 1.5rem;
    }

    main {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    /* Additional settings for text */
    section p {
        font-size: 1.1rem;
    }
}